/* Fondo de la página */

body {
    background-color: lightblue;
}

/* Títulos en rojo */
h1, h2, h3 { color:red }

/* Imágen */

img {
    width:400px ;
    height: 300px;
    display: block;
    margin: auto;
    
}